<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetics Prediction</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Bootstrap File Lnk -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <style>
      body {
            background-color: #92a8d1;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main{
            position: absolute;
            top: 140px;
            left: 410px;
            width: 800px;
            background-color:#a8d0e0;
            border-radius: 10px;
            padding: 5%;
        }
        h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
        }
        input[type=submit]{
            background-color: #5d9acf;
            border: 2px;
            color: white;
            padding: 4px 16px;
            cursor: pointer;
            margin-top: 30px;
        }


    </style>
</head>
<body>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full"
                 viewBox="0 0 24 24">
                <path d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
            </svg>
            <span class="ml-3 text-xl">First Doctor</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="/Home.html" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/Diabetics" class="mr-5 hover:text-gray-900">Diabetics Prediction</a>
            <a href="/Heart.html" class="mr-5 hover:text-gray-900">Heart Diseases Prediction</a>
            <a href="/Depression.html" class="mr-5 hover:text-gray-900">Depression Prediction</a>
        </nav>
        <a href="/chatbot.html">
            <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                Chat Bot
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </a>
    </div>
</header>

<div class="main">

    <div class="row">
        <form action="outcome">

            <div class="mb-3 row">
                <div class="col row form-group">

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Age<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x1" class="form-control" placeholder="E.g : 50">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Sex<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x2" class="form-control" placeholder="E.g : Male - 1 , Female - 0">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>CP - Chest Pain<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x3" class="form-control" placeholder="1: typical , 2: atypical , 3: non-anginal, 4: asymptomatic">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>TrestBp<span
                                class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x4" class="form-control" placeholder=" E.g : 125"></td>
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Cholesterol<span
                                class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x5" class="form-control" placeholder="E.g : 203">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Fbs<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x6" class="form-control" placeholder=" E.g : > 120 mg/dl, 1 = true; 0 = false">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>RestECG<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x7" class="form-control" placeholder="E.g : 0 = normal, 1 = ST-T wave abnormality, 2 = probable">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Thalach-HeartRate<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x8" class="form-control" placeholder="E.g : 168">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Exang-angina<span class="text-danger">*</span> :</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x9" class="form-control" placeholder="E.g : 1 = yes; 0 = no">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Oldpeak<span class="text-danger">*</span> :</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x10" class="form-control" placeholder="E.g : 3.1">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Slope-Segment<span class="text-danger">*</span>:</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x11" class="form-control" placeholder="E.g : Value 1: upsloping, Value 2: flat, Value 3: downsloping">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>CA-Vessels <span class="text-danger">*</span> :</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x12" class="form-control" placeholder="E.g : 0-3">
                        </div>
                    </div>

                    <div class="mb-2 row">
                        <label class="col-sm-3 col-form-label"><b>Thal<span class="text-danger">*</span> :</b></label>
                        <div class="col-sm-9">
                            <input type="text" name="x13" class="form-control" placeholder="E.g : 3 = normal; 6 = fixed defect; 7 = reversable defect">
                        </div>
                    </div>

                    <div class="mb-1 row">
                      <span class="col-sm-3"></span>
                          <div class="col-sm-9">
                             <input type="submit" class="btn btn-success" value="Get Result">
                          </div>
                    </div>

                </div>

            </div>
        </form>



        <div class="alert alert-warning" role="alert">
           <b>Results</b>:&nbsp;&nbsp;{{outcome2}}
        </div>

    </div>


</div>
</body>
</html>


