<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetics Predictions</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
        <path d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
      </svg>
      <span class="ml-3 text-xl">First Doctor</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="/Home.html" class="mr-5 hover:text-gray-900">Home</a>
      <a href="/Diabetics" class="mr-5 hover:text-gray-900">Diabetics Prediction</a>
      <a href="/Heart.html" class="mr-5 hover:text-gray-900">Heart Diseases Prediction</a>
      <a href="/Depression.html" class="mr-5 hover:text-gray-900">Depression Prediction</a>
    </nav>
    <a href="/chatbot.html">
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Chat Bot
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
      </button>
    </a>
  </div>
</header>
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">First Doctor
        <br class="hidden lg:inline-block">Depression Prediction
      </h1>
      <p class="mb-8 leading-relaxed">Feeling sad is a normal human experience, but feeling too much sadness can cause distress and life problems.
        When too much sadness affects your life, you might have depression.For people who have depression, the symptoms cause serious problems in their lives. The depression may cause them to withdraw from their family, friends, or partners.
        They may have a hard time in school or work..</p>
      <div class="flex justify-center">
        <a href="/DepPredict.html" > <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded text-lg">Check Depression</button></a>
        <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Know More</button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://ebuy4u.in/wp-content/uploads/2022/04/First-Doctor-3.webp">
    </div>
  </div>
</section>
</body>
</html>